body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

ul {
  list-style: circle;
}

ol {
  list-style: lower-roman;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}
