* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 20px;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #EAEDF0;
}

.menu {
  height: 100px;
  background-color: #B2D6FF;
}

.sidebar {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #F09A9D;
}

.content {
  float: left;
  width: 650px;
  height: 500px;
  padding: 20px;
  background-color: #F5CF8E;
}

.article-image {
  float: left;
  width: 128px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer {
  clear: both;
  overflow: hidden;
  background-color: #D6E9FE;
}

.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;
  /* border: 1px solid red; */
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 50%;
  background-color: #D6E9FE;
}

.username {
  margin-top: 25px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}


